* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

[class^="box-"] {
  display: grid;
  place-items: center;
  border: solid 3px orangered;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: white;
}

body {
  background: linear-gradient(darkblue, skyblue);
  height: 100vh;
}

.beginner-plus {
  border: 1px solid black;
  height: 90vh;
  width: 90%;
  margin: 20px auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 10px;
}

.beginner-plus .box-1 {
  grid-column: span 2;
}

.beginner-plus .box-2 {
  grid-column: span 6;
}

.beginner-plus .box-3 {
  grid-column: span 4;
}
